
 /* Parte iniziale */
#immagine1 {background-color: rgb(176, 180, 180);
    margin-bottom: -2.5mm;
    border-style: solid;
    border-color: rgb(176, 180, 180)}
    
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
}
 /* Titoli */
h1
{ text-align: center;}

h2
{color: rgb(235, 168, 52) }

h3 
{font-style: italic;}

h6 {text-align: center;}

 /* Linee */
hr{
    background-color: goldenrod;
    height: 2px;
    border-width: 0px;}